:root{
    --color-primary: rgba(255, 0, 255, 0.856);
    --color-primary-houver:rgba(255, 0, 255, 0.856);
    --color-primary-dark:rgba(255, 0, 255, 0.856);

    --color-text:rgba(255, 0, 212, 0.514);
    --color-background:rgb(12, 4, 12);
}
body{
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: Roboto+Slab;
    font-size: 1,2rem;
    line-height: 1,5;
}

.info{
    text-align: center;
}

.cipher-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0 0 0;
}

.cipher-container-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--color-text);
}
.cipher-image{
    height: 150px;
    width: 150px;
}
.header-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.header-logo {
    height: 150px;
}