:root{
    --color-primary: #f557f5da;
    --color-primary-houver:#f557f5da;
    --color-primary-dark:#f557f5da;

    --color-text:rgb(235, 107, 218);
    --color-background:#000000;
}

body{
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: Roboto+Slab;
    font-size: 1,2rem;
    line-height: 1,5;
}

.alert{
    font-size:1rem;
    padding: 2px;
    color: var(--color-text);
    background-color: var(--color-primary-dark);
}

.info{
    text-align: center;
}

.cipher-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0 0 0;
}

.cipher-container-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--color-text);
}
.cipher-image{
    height: 150px;
    width: 150px;
}
.header-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.header-logo {
    height: 200px;
}