{% extends 'base.html' %}

{% block content %}
  <div class="Cipher-encode-decode-conteiner">
   <div class="cipher-title">
      codificar mensagem
  </div>

  <div class="cipher-descrition"> 
     para codificar sua mensagem, informe a chave e a mensagem a ser codificada
  </div>
    <div class="cipher-content"></div>
      <form method="post">
         <label for="chave">
            chave:
         </label>
         <input type="text" name="cipher_key" id="cipher_key" placeholder="de 1 a 25">
            <br />
            <label for="message">
               mensagem para codificar:
            </label>
            <br />
            <textarea name="message" id="message" cols="60" rows="s" placeholder="digite sua mensagem...">

            </textarea>

            <br />
            <button type="submit">
               codificar a mensagem
            </button>
      </form>
    </div>
{% endblock %}